:root {
  --shopvivaapotekcoidred-violet: rgba(226, 15, 132, 1);
  --shopvivaapotekcoidsilver: rgba(189, 189, 189, 1);
  --shopvivaapotekcoidtango: rgba(240, 118, 34, 1);
  --shop-vivaapotek-co-id-semantic-button-font-family: "Montserrat", Helvetica;
  --shop-vivaapotek-co-id-semantic-button-font-weight: 400;
  --shop-vivaapotek-co-id-semantic-button-font-size: 14px;
  --shop-vivaapotek-co-id-semantic-button-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-button-line-height: 21px;
  --shop-vivaapotek-co-id-semantic-button-font-style: normal;
  --shop-vivaapotek-co-id-semantic-button-upper-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-semantic-button-upper-font-weight: 500;
  --shop-vivaapotek-co-id-semantic-button-upper-font-size: 12.300000190734863px;
  --shop-vivaapotek-co-id-semantic-button-upper-letter-spacing: 1.093999981880188px;
  --shop-vivaapotek-co-id-semantic-button-upper-line-height: normal;
  --shop-vivaapotek-co-id-semantic-button-upper-font-style: normal;
  --shop-vivaapotek-co-id-semantic-heading-3-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-semantic-heading-3-font-weight: 700;
  --shop-vivaapotek-co-id-semantic-heading-3-font-size: 18px;
  --shop-vivaapotek-co-id-semantic-heading-3-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-heading-3-line-height: 16.020000457763672px;
  --shop-vivaapotek-co-id-semantic-heading-3-font-style: normal;
  --shop-vivaapotek-co-id-semantic-heading-4-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-semantic-heading-4-font-weight: 500;
  --shop-vivaapotek-co-id-semantic-heading-4-font-size: 10px;
  --shop-vivaapotek-co-id-semantic-heading-4-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-heading-4-line-height: 16.100000381469727px;
  --shop-vivaapotek-co-id-semantic-heading-4-font-style: normal;
  --shop-vivaapotek-co-id-semantic-heading-4-underline-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-semantic-heading-4-underline-font-weight: 700;
  --shop-vivaapotek-co-id-semantic-heading-4-underline-font-size: 12px;
  --shop-vivaapotek-co-id-semantic-heading-4-underline-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-heading-4-underline-line-height: 10.680000305175781px;
  --shop-vivaapotek-co-id-semantic-heading-4-underline-font-style: normal;
  --shop-vivaapotek-co-id-semantic-heading-5-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-semantic-heading-5-font-weight: 700;
  --shop-vivaapotek-co-id-semantic-heading-5-font-size: 12px;
  --shop-vivaapotek-co-id-semantic-heading-5-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-heading-5-line-height: 10.680000305175781px;
  --shop-vivaapotek-co-id-semantic-heading-5-font-style: normal;
  --shop-vivaapotek-co-id-semantic-heading-6-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-semantic-heading-6-font-weight: 400;
  --shop-vivaapotek-co-id-semantic-heading-6-font-size: 10px;
  --shop-vivaapotek-co-id-semantic-heading-6-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-heading-6-line-height: 15px;
  --shop-vivaapotek-co-id-semantic-heading-6-font-style: normal;
  --shop-vivaapotek-co-id-semantic-item-font-family: "Montserrat", Helvetica;
  --shop-vivaapotek-co-id-semantic-item-font-weight: 400;
  --shop-vivaapotek-co-id-semantic-item-font-size: 14px;
  --shop-vivaapotek-co-id-semantic-item-letter-spacing: 0px;
  --shop-vivaapotek-co-id-semantic-item-line-height: 21px;
  --shop-vivaapotek-co-id-semantic-item-font-style: normal;
  --shop-vivaapotek-co-id-baloo-paaji-2-bold-upper-font-family: "Baloo Paaji 2",
    Helvetica;
  --shop-vivaapotek-co-id-baloo-paaji-2-bold-upper-font-weight: 700;
  --shop-vivaapotek-co-id-baloo-paaji-2-bold-upper-font-size: 25px;
  --shop-vivaapotek-co-id-baloo-paaji-2-bold-upper-letter-spacing: 0px;
  --shop-vivaapotek-co-id-baloo-paaji-2-bold-upper-line-height: 37.5px;
  --shop-vivaapotek-co-id-baloo-paaji-2-bold-upper-font-style: normal;
  --shop-vivaapotek-co-id-inter-medium-font-family: "Inter", Helvetica;
  --shop-vivaapotek-co-id-inter-medium-font-weight: 500;
  --shop-vivaapotek-co-id-inter-medium-font-size: 13.125px;
  --shop-vivaapotek-co-id-inter-medium-letter-spacing: 0px;
  --shop-vivaapotek-co-id-inter-medium-line-height: normal;
  --shop-vivaapotek-co-id-inter-medium-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-light-font-family: "Montserrat", Helvetica;
  --shop-vivaapotek-co-id-montserrat-light-font-weight: 300;
  --shop-vivaapotek-co-id-montserrat-light-font-size: 12px;
  --shop-vivaapotek-co-id-montserrat-light-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-light-line-height: 18px;
  --shop-vivaapotek-co-id-montserrat-light-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-medium-font-family: "Montserrat", Helvetica;
  --shop-vivaapotek-co-id-montserrat-medium-font-weight: 500;
  --shop-vivaapotek-co-id-montserrat-medium-font-size: 16px;
  --shop-vivaapotek-co-id-montserrat-medium-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-medium-line-height: 24px;
  --shop-vivaapotek-co-id-montserrat-medium-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-regular-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-montserrat-regular-font-weight: 400;
  --shop-vivaapotek-co-id-montserrat-regular-font-size: 14px;
  --shop-vivaapotek-co-id-montserrat-regular-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-regular-line-height: 21px;
  --shop-vivaapotek-co-id-montserrat-regular-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-regular-strikethrough-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-montserrat-regular-strikethrough-font-weight: 400;
  --shop-vivaapotek-co-id-montserrat-regular-strikethrough-font-size: 14px;
  --shop-vivaapotek-co-id-montserrat-regular-strikethrough-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-regular-strikethrough-line-height: 21px;
  --shop-vivaapotek-co-id-montserrat-regular-strikethrough-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-regular-title-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-montserrat-regular-title-font-weight: 400;
  --shop-vivaapotek-co-id-montserrat-regular-title-font-size: 14px;
  --shop-vivaapotek-co-id-montserrat-regular-title-letter-spacing: 0.43799999356269836px;
  --shop-vivaapotek-co-id-montserrat-regular-title-line-height: normal;
  --shop-vivaapotek-co-id-montserrat-regular-title-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-regular-underline-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-montserrat-regular-underline-font-weight: 400;
  --shop-vivaapotek-co-id-montserrat-regular-underline-font-size: 12px;
  --shop-vivaapotek-co-id-montserrat-regular-underline-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-regular-underline-line-height: 10.680000305175781px;
  --shop-vivaapotek-co-id-montserrat-regular-underline-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-semibold-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-montserrat-semibold-font-weight: 600;
  --shop-vivaapotek-co-id-montserrat-semibold-font-size: 16px;
  --shop-vivaapotek-co-id-montserrat-semibold-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-semibold-line-height: 24px;
  --shop-vivaapotek-co-id-montserrat-semibold-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-bold-font-family: "Montserrat", Helvetica;
  --shop-vivaapotek-co-id-montserrat-bold-font-weight: 700;
  --shop-vivaapotek-co-id-montserrat-bold-font-size: 14px;
  --shop-vivaapotek-co-id-montserrat-bold-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-bold-line-height: 21px;
  --shop-vivaapotek-co-id-montserrat-bold-font-style: normal;
  --shop-vivaapotek-co-id-montserrat-bold-underline-font-family: "Montserrat",
    Helvetica;
  --shop-vivaapotek-co-id-montserrat-bold-underline-font-weight: 700;
  --shop-vivaapotek-co-id-montserrat-bold-underline-font-size: 16.399999618530273px;
  --shop-vivaapotek-co-id-montserrat-bold-underline-letter-spacing: 0px;
  --shop-vivaapotek-co-id-montserrat-bold-underline-line-height: 24.56999969482422px;
  --shop-vivaapotek-co-id-montserrat-bold-underline-font-style: normal;
  --www-halodoc-com-inter-semi-bold-font-family: "Inter", Helvetica;
  --www-halodoc-com-inter-semi-bold-font-weight: 600;
  --www-halodoc-com-inter-semi-bold-font-size: 16px;
  --www-halodoc-com-inter-semi-bold-letter-spacing: 0px;
  --www-halodoc-com-inter-semi-bold-line-height: 18.399999618530273px;
  --www-halodoc-com-inter-semi-bold-font-style: normal;
  --www-halodoc-com-inter-regular-font-family: "Inter", Helvetica;
  --www-halodoc-com-inter-regular-font-weight: 400;
  --www-halodoc-com-inter-regular-font-size: 14px;
  --www-halodoc-com-inter-regular-letter-spacing: 0px;
  --www-halodoc-com-inter-regular-line-height: 16.100000381469727px;
  --www-halodoc-com-inter-regular-font-style: normal;
  --www-halodoc-com-material-icons-regular-font-family: "Material Icons",
    Helvetica;
  --www-halodoc-com-material-icons-regular-font-weight: 400;
  --www-halodoc-com-material-icons-regular-font-size: 24px;
  --www-halodoc-com-material-icons-regular-letter-spacing: 0px;
  --www-halodoc-com-material-icons-regular-line-height: 24px;
  --www-halodoc-com-material-icons-regular-font-style: normal;
  --www-halodoc-com-semantic-heading-2-font-family: "Inter", Helvetica;
  --www-halodoc-com-semantic-heading-2-font-weight: 600;
  --www-halodoc-com-semantic-heading-2-font-size: 24px;
  --www-halodoc-com-semantic-heading-2-letter-spacing: 0px;
  --www-halodoc-com-semantic-heading-2-line-height: 32px;
  --www-halodoc-com-semantic-heading-2-font-style: normal;
  --www-halodoc-com-semantic-heading-3-font-family: "Inter", Helvetica;
  --www-halodoc-com-semantic-heading-3-font-weight: 600;
  --www-halodoc-com-semantic-heading-3-font-size: 24px;
  --www-halodoc-com-semantic-heading-3-letter-spacing: 0px;
  --www-halodoc-com-semantic-heading-3-line-height: 28.799999237060547px;
  --www-halodoc-com-semantic-heading-3-font-style: normal;
  --www-halodoc-com-semantic-label-font-family: "Inter", Helvetica;
  --www-halodoc-com-semantic-label-font-weight: 700;
  --www-halodoc-com-semantic-label-font-size: 16px;
  --www-halodoc-com-semantic-label-letter-spacing: 0px;
  --www-halodoc-com-semantic-label-line-height: 18.399999618530273px;
  --www-halodoc-com-semantic-label-font-style: normal;
  --www-halodoc-com-semantic-link-font-family: "Inter", Helvetica;
  --www-halodoc-com-semantic-link-font-weight: 400;
  --www-halodoc-com-semantic-link-font-size: 14px;
  --www-halodoc-com-semantic-link-letter-spacing: 0px;
  --www-halodoc-com-semantic-link-line-height: 16.100000381469727px;
  --www-halodoc-com-semantic-link-font-style: normal;
  --www-halodoc-com-semantic-strong-font-family: "Inter", Helvetica;
  --www-halodoc-com-semantic-strong-font-weight: 700;
  --www-halodoc-com-semantic-strong-font-size: 14px;
  --www-halodoc-com-semantic-strong-letter-spacing: 0px;
  --www-halodoc-com-semantic-strong-line-height: 16.100000381469727px;
  --www-halodoc-com-semantic-strong-font-style: normal;
}
