.daftar-obat-admin {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: #ffffff;
  overflow: hidden;
  zoom: 66%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;

}

.daftar-obat-admin .component {
  display: inline-flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 8.05px;
  position: absolute;
  top: 223px;
  left: 1340px;
  background-color: #007ef2;
  border-radius: 8px;
}

.daftar-obat-admin .rectangle {
  position: absolute;
  width: 108px;
  height: 32px;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.daftar-obat-admin .div {
  width: 108px;
  height: 32px;
  top: 0;
  position: absolute;
  left: 0;
}

.daftar-obat-admin .rectangle-2 {
  width: 108px;
  height: 48px;
  top: -8px;
  position: absolute;
  left: 0;
}

.daftar-obat-admin .text {
  position: relative;
  width: fit-content;
  margin-top: -1.53px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.1px;
  white-space: nowrap;
}

.daftar-obat-admin .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 151px;
  left: 848px;
}

.daftar-obat-admin .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.daftar-obat-admin .frame-wrapper {
  position: absolute;
  width: 976px;
  height: 806px;
  top: 266px;
  left: 472px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.daftar-obat-admin .frame-2 {
  display: flex;
  width: 976px;
  height: 806px;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}

.daftar-obat-admin .frame-3 {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 796px;
  align-items: flex-end;
  gap: 25px;
  position: relative;
  margin-bottom: -10.00px;
}

.daftar-obat-admin .frame-4 {
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #eaeaea;
}

.daftar-obat-admin .box-unchecked-wrapper {
  display: flex;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-image: url(./img/image.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.daftar-obat-admin .box-unchecked {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid;
  border-color: var(--checkboxempty);
}

.daftar-obat-admin .div-wrapper {
  display: flex;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-image: url(./img/frame-1156.png);
  background-size: cover;
  background-position: 50% 50%;
}

.daftar-obat-admin .frame-5 {
  display: flex;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-image: url(./img/frame-1157.png);
  background-size: cover;
  background-position: 50% 50%;
}

.daftar-obat-admin .frame-6 {
  display: flex;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-image: url(./img/frame-1158.png);
  background-size: cover;
  background-position: 50% 50%;
}

.daftar-obat-admin .frame-7 {
  position: relative;
  width: 284px;
  height: 796px;
  margin-bottom: -10.00px;
}

.daftar-obat-admin .table-head-wrapper {
  width: 284px;
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
}

.daftar-obat-admin .table-head {
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: normal;
  position: relative;
  width: fit-content;
  font-weight: 400;
  color: #000000;
}

.daftar-obat-admin .table-body-wrapper {
  display: flex;
  width: 284px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 69px;
  left: 0;
}

.daftar-obat-admin .table-body {
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 16.1px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-weight: 400;
  color: #000000;
}

.daftar-obat-admin .frame-8 {
  display: flex;
  width: 284px;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 249px;
  left: 0;
}

.daftar-obat-admin .frame-9 {
  display: flex;
  width: 284px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 429px;
  left: 0;
}

.daftar-obat-admin .frame-10 {
  display: flex;
  width: 284px;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 609px;
  left: 0;
}

.daftar-obat-admin .table-body-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #323c47;
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: normal;
}

.daftar-obat-admin .frame-11 {
  position: relative;
  width: 160px;
  height: 796px;
  margin-bottom: -10.00px;
}

.daftar-obat-admin .frame-12 {
  width: 160px;
  justify-content: center;
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
}

.daftar-obat-admin .frame-13 {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 69px;
  left: 0;
}

.daftar-obat-admin .frame-14 {
  display: flex;
  width: 160px;
  height: 155px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 249px;
  left: 0;
}

.daftar-obat-admin .frame-15 {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 429px;
  left: 0;
}

.daftar-obat-admin .frame-16 {
  display: flex;
  width: 160px;
  height: 155px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 609px;
  left: 0;
}

.daftar-obat-admin .frame-17 {
  position: relative;
  width: 128px;
  height: 796px;
  margin-bottom: -10.00px;
}

.daftar-obat-admin .frame-18 {
  width: 128px;
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
}

.daftar-obat-admin .frame-19 {
  display: flex;
  width: 128px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 69px;
  left: 0;
}

.daftar-obat-admin .frame-20 {
  display: flex;
  width: 128px;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 249px;
  left: 0;
}

.daftar-obat-admin .frame-21 {
  display: flex;
  width: 128px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 429px;
  left: 0;
}

.daftar-obat-admin .frame-22 {
  display: flex;
  width: 118px;
  height: 155px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 609px;
  left: 10px;
}

.daftar-obat-admin .frame-23 {
  position: relative;
  width: 124px;
  height: 796px;
  margin-bottom: -10.00px;
}

.daftar-obat-admin .frame-24 {
  width: 124px;
  justify-content: center;
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
}

.daftar-obat-admin .frame-25 {
  display: flex;
  width: 124px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 69px;
  left: 0;
}

.daftar-obat-admin .frame-26 {
  display: flex;
  width: 124px;
  height: 155px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 249px;
  left: 0;
}

.daftar-obat-admin .frame-27 {
  display: flex;
  width: 124px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: 155px;
  position: absolute;
  top: 429px;
  left: 0;
}

.daftar-obat-admin .frame-28 {
  display: flex;
  width: 124px;
  height: 155px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 609px;
  left: 0;
}

.daftar-obat-admin .frame-29 {
  display: flex;
    flex-direction: column;
    width: 79px;
    align-items: flex-end;
    gap: 8px;
    position: relative;
}

.daftar-obat-admin .frame-30 {
  width: 79px;
  display: flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaeaea;
}

.daftar-obat-admin .img {
  width: 79px;
  height: 155px;
  position: absolute;
  top: 69px;
  left: 0;
}

.daftar-obat-admin .frame-31 {
  position: absolute;
  width: 79px;
  height: 155px;
  top: 249px;
  left: 0;
}

.daftar-obat-admin .frame-32 {
  width: 79px;
  height: 155px;
  position: absolute;
  top: 429px;
  left: 0;
}

.daftar-obat-admin .frame-33 {
  position: absolute;
  width: 79px;
  height: 155px;
  top: 609px;
  left: 4px;
}

.daftar-obat-admin .nav {
  display: flex;
  width: 1927px;
  height: 94px;
  width: 1927px;
  height: 94px;
  align-items: center;
  gap: 981px;
  padding: 23px 109px 23px 53px;
  position: absolute;
  top: 0;
  left: -7px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.daftar-obat-admin .magneto-navbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.daftar-obat-admin .logo {
  position: relative;
  width: 303px;
  height: 40px;
  overflow: hidden;
}

.daftar-obat-admin .text-wrapper-2 {
  position: absolute;
  width: 295px;
  height: 32px;
  top: 3px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 20px;
}

.daftar-obat-admin .list {
  display: inline-flex;
  align-items: center;
  gap: 32px;
  padding: 8px 32px 8px 40px;
  position: relative;
  flex: 0 0 auto;
}

.daftar-obat-admin .component-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.daftar-obat-admin .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.daftar-obat-admin .component-false {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.daftar-obat-admin .component-3 {
  display: inline-flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 8.05px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -16.00px;
  background-color: #ff3c5f;
  border-radius: 8px;
}

.daftar-obat-admin .rectangle-3 {
  width: 76px;
  height: 32px;
  top: 0;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.daftar-obat-admin .rectangle-4 {
  width: 76px;
  height: 32px;
  top: 0;
  position: absolute;
  left: 0;
}

.daftar-obat-admin .rectangle-5 {
  width: 76px;
  height: 48px;
  top: -8px;
  position: absolute;
  left: 0;
}
