# Ignore virtual environments
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore database files (opsional kalau pakai SQLite)
*.sqlite3

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore Django specific
db.sqlite3
/staticfiles/
/mediafiles/

# Ignore macOS files
.DS_Store

# Ignore Windows thumbnail files
Thumbs.db
